<div class="container">
    <h2>Login</h2>
    <form class="login-form mb-4">
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control mb-2" id="username-login" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password-login-input">Password</label>
            <input type="password" class="form-control mb-2" id="password-login" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h2>Sign Up</h2>
    <form class="signup-form">
        <div class="form-group">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control mb-2" id="username-signup" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password-signup-input">Password</label>
            <input type="password" class="form-control mb-2" id="password-signup" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<script src="/javascript/login.js"></script>